<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celebrity Guard Cybersecurity</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
	    background-color: #162333;
        }

        header {
            background-color: #162333;
            padding: 10px;
            text-align: center;
        }

        h1 {
            color: #f2d027;
        }
        
        #logo {
            max-width: 100%;
            height: auto;
        }

	h2 {
            color: #ffffff;
        }
    </style>
</head>

<body>
    <header>
        <img id="logo" src="https://celebrityguard.co/logo.png" width ="550" alt="Celebrity Guard Logo">
        <h1>This Page is Secured By Celebrity Guard</h1>
    </header>

    <center><h2>Contact Us! <br><br><a href=https://celebrityguard.co>https://celebrityguard.co</a></h2></center>

</body>

</html>

